@charset "UTF-8";

#castInfo {
	margin-top: 30px;
	position: static;
	margin: auto;
}
#crewInfo {
	margin-top: 30px;
	position: static;
	margin: auto;
	display: inline-block;
	margin: 20px;
	text-align: center;
}

.crewPic{
	width: 300px;
	border: 2px solid white;
	padding: 5px;
}
.bio {
    position: relative;
	width: 250px;
	display: inline-block;
	margin: 20px;
	padding: 5px;
	border: 2px solid white;
}

.castPic {
	width: 250px;
	height: auto;
}

.overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0;
	transition: .5s ease;
	background-color: #293c59;
}

.bio:hover .overlay {
	opacity: 1;
}

.biotext {
	color: white;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}

.descrip {
	font-size: 10px;
}
#christaEmma{
	margin-left: 20%;
}