@charset "UTF-8";
body { 
	margin: 0; 
	padding: 0; 	
	font-family: "Raleway", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;    
	color: white;
	background: grey;
}
.italic{
	font-style: italic;
}
.medium{
	font-size: 22px;
}
.content{
	margin-top: 52px;
}
p{
	position: static;
	width: 50%;
	margin: 0px;
	margin-bottom: 50px;	
	line-height: 190%;
}
h1{
	text-align: center;
	font-size: 64px;
}
h2{
	padding: 5px;
	text-align: center;
	font-size: 32px;
}
h3{
	text-align: center;
	font-size: 16px;
	font-style: italic;
}
.logo{
	height: 50px;
	width: 50px;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	
	border-radius: 15px;
    border: 2px solid white;
    padding: 5px; 
    
    display: inline;
    box-shadow: 5px 5px 2px black;
}
.center{
	margin: auto;
	text-align: center;
    padding: 5px;
}
.small{
	font-size: 10px;
	padding-top: 15px;
}
.linkHoverBlack:hover{
	font-weight: bold;
	font-size: 20px;
}
.shadow{
	color: white;
	text-transform: uppercase;
	background-color: black;
}
.marginDown{
	top: 20px;
}
.buffer{
	position: relative;
	height: 30px;
}
#social_media{
	width: 54%;
	padding: 20px;
 	margin-top: 50px;
	margin: auto;
    text-align: center;
    display: block;
    float: bottom;
    clear:both
}
#twitter-timeline{
 	width: 50%;
 	float: right;
 	padding-top: 20px;
	padding-right: 20px;
}
#leftNews{
	width: 50%;
	float: left;
}