@charset "UTF-8";
body { 
	margin: 0; 
	padding: 0; 	
	font-family: "Raleway", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;    
	color: white;
}
.italic{
	font-style: italic;
}
p{
	position: static;
	width: 650px;
	margin: 0px;
	margin-bottom: 50px;	
	margin-left: 50px;
}
h1{
	text-align: center;
	font-size: 64px;
}
h2{
	text-align: center;
	font-size: 32px;
}
h3{
	text-align: center;
	font-size: 15px;
	font-style: italic;
}
.logo{
	height: 50px;
	width: 50px;
	display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
	
	border-radius: 15px;
    border: 2px solid white;
    padding: 5px; 
    
    display: inline;
    box-shadow: 5px 5px 2px #414141;
}
.center{
	margin: auto;
    padding: 5px;
    background: grey;
}
.small{
	font-size: 10px;
	padding-top: 15px;
}
#socialMedia{
	width: 60%;
	padding: 20px;
	margin-top: 50px;
	margin: auto;
    background: grey;
    text-align: center;
    display: block;
    z-index: -1;
    float: bottom;
}
#twitter-timeline{
	width: 500px;
	height: 200px;
	float: right;
	margin-top: 20px;
	margin-right: 20px;
}