@charset "UTF-8";

#recon_header{
	padding-top: 50px;
	height: 150px;
	background-image: url("../IMG/ReconFront.png");
	background-size: 100% auto;
	background-repeat: no-repeat;
	color: white;
	font-size: 100px;
	text-align: center;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}
.sticky + .content {
  padding-top: 102px;
}
/* Searchbox */
.navbar{
	width: 100%; /* Full width */
}
input[type=text] {
	padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 5px;
    margin-left: 5px;
    font-size: 17px;
    border-radius:10px; 
}
#favIcon{
	font-size: 25px;
	color: white;
}
/* Menubar */
ul {
	z-index: 100;
	font-family: "Raleway", "Franklin Gothic", "ITC Franklin Gothic", Arial, sans-serif;    
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 35px;
    text-decoration: none;
}

li #home:hover {
    background-color: #FF5757;
}
li #episodes:hover {
    background-color: #FFD145;
}
li #cast:hover {
    background-color: #4ECC69;
}
li #crew:hover {
    background-color: #548FDE;
}
li #news:hover {
    background-color: #C471E3;
}


a:link, a:visited {
	text-decoration: none;
	color: white;
}