@charset "UTF-8";

.bio{
	margin: auto;
	display: inline-block;
	position: static;
	display: block;
	margin-top: 50px;
	margin-left: 50px;
	width: 80%;
	text-align: left;
	
}
#words{
	padding-left: 30px;
	margin-left: 350px;
	width: 60%;
	height: 600px;
}
.castPic{
	margin: 0, auto;
	margin-right: 40px;
	margin-bottom: 40px;
	padding: 30px;
	float: left;
	width: 300px;
	border: 2px solid white;
	padding: 5px;
}

.left-right-borders{
	border-left: 4px solid white;
	border-right: 4px solid white;
}
.name{
	font-size: 40px;
}
.italic{
	padding: 10px;
	padding-left: 0;
}